@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  @apply m-0 p-0 border-0 outline-0 box-border list-none no-underline;
}

:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  @apply leading-relaxed;
  background-image: url(../public/assets/bg-texture.png);
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-medium;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-2xl font-semibold;
}

section {
  @apply mt-32;
}

section>h2,
section>h5 {
  @apply text-center;
  color: var(--color-light);
}

section>h2 {
  color: var(--color-primary);
  @apply mb-12;
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

.btn {
  color: var(--color-primary);
  padding: 0.75rem 1.2rem;
  transition: var(--transition);
  @apply w-max inline-block text-primary rounded-md cursor-pointer border border-solid border-primary;
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

nav a {
  background: transparent;
  @apply p-3 flex text-lg rounded-full;
  color: var(--color-light);
}

nav a:hover {
  @apply bg-black opacity-30;
}

nav a.active {
  background: var(--color-primary);
  color: var(--color-bg);
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: var(--color-primary);
}